.root {
  position: relative;
  left: -120px;

  @media (max-width: 980px) {
    left: 0;
  }
}
.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  padding-left: 40px;
  width: 300px;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.15s ease-in-out;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 400px;
  }

  @media (max-width: 980px) {
    margin-top: 20px;
  }
}

.icon {
  width: 22px;
  height: 22px;
  opacity: 0.5;
  position: absolute;
  left: 10px;
  top: 13px;

  @media (max-width: 980px) {
    top: 33px;
  }
}

.clearIcon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  @media (max-width: 980px) {
    top: 33px;
  }
}